@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--This is another comment. But this one will show up in html source to the client-->
@*Here we are rendering out the string in the viewbag that we set in the controller*@
<h3>@ViewBag.WhateverIWantToPut</h3>

<p>Use this area to provide additional information.</p>
